
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3


.venv/
env/
venv/
ENV/
env.bak/


.env
*.env
*.ini
*.log


build/
dist/
*.egg-info/
.eggs/


.DS_Store
Thumbs.db
*.swp
*.swo


.vscode/
.idea/


*.bak
*.tmp
